<a href="https://colab.research.google.com/github/uzbekprogrammer/DataScience/blob/main/Pandas/PandasAMALIYOT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## Ma'lumotlar tahlili. Pandas kutubxonasi.

# **AMALIYOT**
## 3.1 Series va Index

### **1-mashq**. `Pandas` kutubxonasini `pd`, `numpy` kutubxonasini `np` deb chaqirib oling

In [139]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [140]:
#@title To'g'ri javob
import pandas as pd
import numpy as np

### **2-mashq.** O'zbekiston Respublikasi viloyatlaridan iborat bir o'lchamli Series obyektini yarating

In [141]:
# Javobni shu yerga yozing
data = ['Andijon',
        'Buxoro',
        "Farg'ona",
        "Jizzax",
        'Xorazm',
        'Namangan',
        'Navoiy',
        'Qashqadaryo',
        "Qoraqalpog'iston Respublikasi",
        'Samarqand',
        'Sirdaryo',
        'Surxondaryo',
        'Toshkent']
dataSeries = Series(data)
dataSeries

0                           Andijon
1                            Buxoro
2                          Farg'ona
3                            Jizzax
4                            Xorazm
5                          Namangan
6                            Navoiy
7                       Qashqadaryo
8     Qoraqalpog'iston Respublikasi
9                         Samarqand
10                         Sirdaryo
11                      Surxondaryo
12                         Toshkent
dtype: object

In [142]:
#@title **To'g'ri javob**
obj = pd.Series(
    [
        "Andijon",
        "Buxoro",
        "Farg'ona",
        "Jizzax",
        "Xorazm",
        "Namangan",
        "Navoiy",
        "Qashqadaryo",
        "Qoraqalpog'iston Respublikasi",
        "Samarqand",
        "Sirdaryo",
        "Surxondaryo",
        "Toshkent",
    ]
)
print(obj)

0                           Andijon
1                            Buxoro
2                          Farg'ona
3                            Jizzax
4                            Xorazm
5                          Namangan
6                            Navoiy
7                       Qashqadaryo
8     Qoraqalpog'iston Respublikasi
9                         Samarqand
10                         Sirdaryo
11                      Surxondaryo
12                         Toshkent
dtype: object

### **3-mashq.** Yuqorida yaratilgan Series obyektining barcha qiymaltarini chiqaring

In [143]:
# Javobni shuyerga yozing
dataSeries.values

array(['Andijon', 'Buxoro', "Farg'ona", 'Jizzax', 'Xorazm', 'Namangan',
       'Navoiy', 'Qashqadaryo', "Qoraqalpog'iston Respublikasi",
       'Samarqand', 'Sirdaryo', 'Surxondaryo', 'Toshkent'], dtype=object)

In [144]:
# @title **To'g'ri javob**
obj.values

array(['Andijon', 'Buxoro', "Farg'ona", 'Jizzax', 'Xorazm', 'Namangan',
       'Navoiy', 'Qashqadaryo', "Qoraqalpog'iston Respublikasi",
       'Samarqand', 'Sirdaryo', 'Surxondaryo', 'Toshkent'], dtype=object)

### **4-mashq.** Yuqoridagi Series obyektining eng birinchi qiymatini chiqaring

In [145]:
# Javobni shuyerga yozing
dataSeries[0]

'Andijon'

In [146]:
# @title **To'g'ri javob**
obj[0]

'Andijon'

### **5-mashq.** Yuqoridagi Series obyektining eng oxirgi qiymatini chiqaring

In [147]:
# Javobni shuyerga yozing
dataSeries.iloc[-1]

'Toshkent'

In [148]:
# @title **To'g'ri javob**
obj[12]

'Toshkent'

### **6-mashq.** Yuqoridagi Series obyekti uzunligini chiqaring

In [149]:
# Javobni shuyerga yozing
dataSeries.size
len(dataSeries)

13

In [150]:
# @title **To'g'ri javob**
obj.size

13

### **7-mashq.** Yuqoridagi Series obyektining o'rtasidan 3 ta qiymat chiqaring

In [151]:
# Javobni shuyerga yozing
dataSeries[[5,6,7]]

5       Namangan
6         Navoiy
7    Qashqadaryo
dtype: object

In [152]:
# @title **To'g'ri javob**

obj[[5, 6, 7]]

5       Namangan
6         Navoiy
7    Qashqadaryo
dtype: object

### **8-mashq.** Quyidagi Series obyektini yarating.
**Ahamiyat bering. `Series` obyekti indeksi sifatida viloyatlar nomi ishlatilgan**

In [153]:
# @title
ind = obj.values
aholi = [
    1899000,
    1384700,
    2597000,
    910500,
    1200000,
    1862000,
    767500,
    2029000,
    1200000,
    2322000,
    648100,
    1676000,
    4450000,
]
obj2 = pd.Series(aholi, index=ind)
print(obj2)

Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

In [154]:
# Javobni shuyerga yozing
aholi = [
    1899000,
    1384700,
    2597000,
    910500,
    1200000,
    1862000,
    767500,
    2029000,
    1200000,
    2322000,
    648100,
    1676000,
    4450000,
]
dataSer2 = Series(aholi, index=dataSeries)
dataSer2.name = "Aholi soni"
dataSer2

Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
Toshkent                         4450000
Name: Aholi soni, dtype: int64

### **9-mashq.** Yuqoridagi `Series` obyektidan Jizzax, Buxoro va Namangan viloyatlarining aholisini chiqaring

In [155]:
# Javobni shuyerga yozing
dataSer2[['Jizzax','Buxoro','Namangan']]

Jizzax       910500
Buxoro      1384700
Namangan    1862000
Name: Aholi soni, dtype: int64

In [156]:
# @title **To'g'ri javob**
obj2[["Jizzax", "Buxoro", "Namangan"]]

Jizzax       910500
Buxoro      1384700
Namangan    1862000
dtype: int64

### **10-mashq.** Yuqoridagi `Series` obyektidan aholi soni 1 milliondan kam va ko'p bo'lgan viloyatlarni alohida chiqaring

In [157]:
# Javobni shuyerga yozing
print("1 milliondan kam")
dataSer2[dataSer2<1000000]

1 milliondan kam

Jizzax      910500
Navoiy      767500
Sirdaryo    648100
Name: Aholi soni, dtype: int64

In [158]:
print("1 milliondan ko'p")
dataSer2[dataSer2>1000000]

1 milliondan ko'p

Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Xorazm                           1200000
Namangan                         1862000
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Surxondaryo                      1676000
Toshkent                         4450000
Name: Aholi soni, dtype: int64

In [159]:
# @title **To'g'ri javob**
print("Aholisi 1 milliondan ko'p viloyatlar")
print(obj2[obj2 > 1_000_000])
# Pythonda katta sonlarni yozishda 0 orasini _ bilan ajratish mumkin

Aholisi 1 milliondan ko'p viloyatlar
Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Xorazm                           1200000
Namangan                         1862000
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

In [160]:
# @title
print("Aholisi 1 milliondan kam viloyatlar")
print(obj2[obj2 < 1_000_000])

Aholisi 1 milliondan kam viloyatlar
Jizzax      910500
Navoiy      767500
Sirdaryo    648100
dtype: int64

### **11-mashq.** Aholisi 1 milliondan ko'p davlatlar orasida Navoiy viloyati bor/yo'qligini tekshiring

In [161]:
# Javobni shuyerga yozing
"Navoiy" in dataSer2[dataSer2>1000000]

False

In [162]:
# @title **To'g'ri javob**
"Navoiy" in obj2[obj2 > 1_000_000]

False

### **12-mashq.** Quyidagi lug'atda viloyatlar va ularning maydonlari berilgan. Lug'atdan yangi `Series` obyektini yarating va unga "Hududlar hajmi" deb nom bering

In [163]:
dict = {
    "Andijon": 4200,
    "Buxoro": 39400,
    "Farg'ona": 6800,
    "Jizzax": 20500,
    "Xorazm": 6300,
    "Namangan": 7900,
    "Navoiy": 110800,
    "Qashqadaryo": 28400,
    "Qoraqalpog'iston Respublikasi": 160000,
    "Samarqand": 16400,
    "Sirdaryo": 5100,
    "Surxondaryo": 20800,
    "Toshkent": 15300,
}

In [164]:
# Javobni shuyerga yozing
areas = Series(dict)
areas.name='Hududlar hajmi'
areas

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hududlar hajmi, dtype: int64

In [165]:
#@title To'g'ri javob
obj3 = pd.Series(dict)
obj3.name = "Hudular hajmi"
print(obj3)

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hudular hajmi, dtype: int64

### **13-mashq.** Yuqoridagi `Series` obyektidan hududi eng katta va eng kichik elementlarni chiqaring

In [166]:
# Javobni shuyerga yozing
print(f"""Eng katta {areas.idxmax()} -> {areas.max()}
      Eng kichik {areas.idxmin()} -> {areas.min()}""")

Eng katta Qoraqalpog'iston Respublikasi -> 160000
      Eng kichik Andijon -> 4200

In [167]:
#@title To'g'ri javob
print(f"Eng katta hudud: {obj3.idxmax()}")
print(f"Eng kichik hudud: {obj3.idxmin()}")

Eng katta hudud: Qoraqalpog'iston Respublikasi
Eng kichik hudud: Andijon

### **14-mashq.** Yuqoridagi eng katta va eng kichik hududlar aholisi sonini chiqaring

In [168]:
# Javobni shuyerga yozing
armax = areas.idxmax()
armin = areas.idxmin()
print(f"{armax} -> {dataSer2[armax]}")
print(f"{armin} -> {dataSer2[armin]}")

dataSer2

Qoraqalpog'iston Respublikasi -> 1200000
Andijon -> 1899000

Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
Toshkent                         4450000
Name: Aholi soni, dtype: int64

In [169]:
#@title To'g'ri javob
print(f"{obj3.idxmax()} aholisi {obj2[obj3.idxmax()]}")
print(f"{obj3.idxmin()} aholisi {obj2[obj3.idxmin()]}")

Qoraqalpog'iston Respublikasi aholisi 1200000
Andijon aholisi 1899000

### **15-mashq**. Yuqoridagi hudulardan O'zbekiston Respublikasi hududini hisoblang

In [170]:
# Javobni shuyerga yozing
areas.sum()

441900

In [171]:
#@title To'g'ri javob
sum(obj3)

441900

### **16-mashq.** Aholisi eng ko'p va eng kam hududlarning hajmini va aholi sonini chiqaring

In [172]:
# Javobni shuyerga yozing
print(f"{dataSer2.idxmax()} hududi {areas[dataSer2.idxmax()]} km.kv, aholi soni {dataSer2.max()}")
print(f"{dataSer2.idxmin()} hududi {areas[dataSer2.idxmin()]} km.kv, aholi soni {dataSer2.min()}")

Toshkent hududi 15300 km.kv, aholi soni 4450000
Sirdaryo hududi 5100 km.kv, aholi soni 648100

In [173]:
#@title To'g'ri javob
print(f"{obj2.idxmax()} hududi {obj3[obj2.idxmax()]}kv.km, aholisi {obj2[obj2.idxmax()]}")
print(f"{obj2.idxmin()} hududi {obj3[obj2.idxmin()]}kv.km, aholisi {obj2[obj2.idxmin()]}")

Toshkent hududi 15300kv.km, aholisi 4450000
Sirdaryo hududi 5100kv.km, aholisi 648100

### **17-mashq.** Yuqoridagi ikki obyektdan foydalangan holda O'zbekiston respublikasi tarkibidagi hududlarni avval aholi soni bo'yicha, keyin esa hajmi bo'yicha tartiblab chiqaring

In [178]:
# Javobni shuyerga yozing
print("Aholi soni boyicha\n",dataSer2)
print("Hududi boyicha\n",areas)

Aholi soni boyicha
 Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
Toshkent                         4450000
Name: Aholi soni, dtype: int64
Hududi boyicha
 Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hududlar hajmi, dtype: int64

In [179]:
#@title Tartiblangan

dataSer2.sort_values()

Sirdaryo                          648100
Navoiy                            767500
Jizzax                            910500
Xorazm                           1200000
Qoraqalpog'iston Respublikasi    1200000
Buxoro                           1384700
Surxondaryo                      1676000
Namangan                         1862000
Andijon                          1899000
Qashqadaryo                      2029000
Samarqand                        2322000
Farg'ona                         2597000
Toshkent                         4450000
Name: Aholi soni, dtype: int64

In [180]:
areas.sort_values()

Andijon                            4200
Sirdaryo                           5100
Xorazm                             6300
Farg'ona                           6800
Namangan                           7900
Toshkent                          15300
Samarqand                         16400
Jizzax                            20500
Surxondaryo                       20800
Qashqadaryo                       28400
Buxoro                            39400
Navoiy                           110800
Qoraqalpog'iston Respublikasi    160000
Name: Hududlar hajmi, dtype: int64

In [176]:
#@title To'g'ri javob
print("Hududlar hajmi bo'yicha tartiblash")
obj3.sort_values()

Hududlar hajmi bo'yicha tartiblash

Andijon                            4200
Sirdaryo                           5100
Xorazm                             6300
Farg'ona                           6800
Namangan                           7900
Toshkent                          15300
Samarqand                         16400
Jizzax                            20500
Surxondaryo                       20800
Qashqadaryo                       28400
Buxoro                            39400
Navoiy                           110800
Qoraqalpog'iston Respublikasi    160000
Name: Hudular hajmi, dtype: int64

In [177]:
#@title To'g'ri javob
print("Aholi soni bo'yicha tartiblash")
obj2.sort_values()

Aholi soni bo'yicha tartiblash

Sirdaryo                          648100
Navoiy                            767500
Jizzax                            910500
Xorazm                           1200000
Qoraqalpog'iston Respublikasi    1200000
Buxoro                           1384700
Surxondaryo                      1676000
Namangan                         1862000
Andijon                          1899000
Qashqadaryo                      2029000
Samarqand                        2322000
Farg'ona                         2597000
Toshkent                         4450000
dtype: int64